body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.gradient  {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient2 {
 background: #000428;  /*fallback for old browsers*/
 background: -webkit-linear-gradient(to right, #0e2aa7, #0f28b6);  /*Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #0e2aa7, #0f28b6); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient3 {
  background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f7d3, #389dd3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f7d3, #389dd3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }


.fluid {
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);

}


.footer-link {
  color:antiquewhite ;
  font-size: 1rem;
}

.footer-link:hover {
  color:rgb(1, 9, 15);

}
